* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f4f7;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.logo {
  width: 100%;
  max-width: 360px;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.portal-btn {
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: #3ea303;
  color: white;
  transition: 0.2s;
  height:120px;
}

.portal-btn:hover {
  background: #1e7802;
}

.hint {
  margin-top: 20px;
  color: #555;
  font-size: 14px;
}
