.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
#preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
