*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
}

body{
  margin:0;
  background:#f2f4f7;
}

.app{
  width:100%;
  max-width:420px;
  height:100dvh;
  margin:0 auto;
  background:#fff;
  display:flex;
  flex-direction:column;
}

.topbar{
  background:#1e9b43;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logout-icon{
  height:26px;
  cursor:pointer;
}

.top-logo{
  height:40px;
}

.gallery{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:20px;
}

.col{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.card{
  width:150px;
  height:150px;
  perspective:1000px;
  cursor:pointer;
}

.card-inner{
  width:100%;
  height:100%;
  position:relative;
  transition:transform 0.6s;
  transform-style:preserve-3d;
}

.card.flipped .card-inner{
  transform:rotateY(180deg);
}

.card-front,.card-back{
  width:100%;
  height:100%;
  position:absolute;
  backface-visibility:hidden;
  border-radius:20px;
  overflow:hidden;
}

.card-front img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  padding: 20px;
  visibility: hidden;
}

/* FULLSCREEN */
.fullscreen{
  position:fixed;
  inset:0;
  display:none;
  z-index: 900;
}

.fullscreen.active{
  display:block;
}

.fs-inner{
  width:90%;
  max-width: 800px;
  height:90%;
  background:#fff;
  position:fixed;
  top: 50%;
  left: 50%;
  overflow-y:hidden;
  transform:translate(-50%, -50%) rotateY(180deg);
  animation:flipIn 0.6s forwards;
  z-index: 1001;
  border-radius: 16px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.3);
  flex-direction: column;
  display: flex;
}

.fs-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 900;
}

.fullscreen.active .fs-backdrop {
  opacity: 1;
}

@keyframes flipIn {
  from {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}

.fs-header {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.fs-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.back-btn {
  cursor: pointer;
}

.back-btn img {
  width: 32px;
  height: 32px;
}


.bottombar{
  position:fixed;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  max-width:420px;
  height:60px;
  background:#f44336;
  display:flex;
}

.bottombar div{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

.bottombar img{
  height:26px;
}

.center-btn img{
  height:60px;
  margin-top:-30px;
  background:#fff;
  border-radius:50%;
  padding:8px;
}
