*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f2f2f2;
}

.gallery{
  display:flex;
  gap:30px;
}

.col{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.card{
  width:150px;
  height:150px;
  perspective:1000px;
  cursor:pointer;
}

.card-inner{
  width:100%;
  height:100%;
  position:relative;
  transition:transform 0.6s;
  transform-style:preserve-3d;
}

.card.flipped .card-inner{
  transform:rotateY(180deg);
}

.card-front,.card-back{
  width:100%;
  height:100%;
  position:absolute;
  backface-visibility:hidden;
  border-radius:20px;
  overflow:hidden;
}

.card-front img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.card-back{
  transform:rotateY(180deg);
}

.card-back img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:20px;
}

/* FULLSCREEN */
.fullscreen{
  position:fixed;
  inset:0;
  background:#000;
  display:none;
  justify-content:center;
  align-items:center;
  perspective:1200px;
}

.fullscreen.active{
  display:flex;
}

.fs-inner{
  width:100%;
  height:100%;
  background:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  font-size:22px;
  text-align:center;
  padding:40px;
  transform:rotateY(180deg);
  animation:flipIn 0.3s forwards;
}

@keyframes flipIn{
  from{transform:rotateY(180deg);}
  to{transform:rotateY(0deg);}
}

.back-btn{
  position:absolute;
  top:20px;
  left:20px;
  font-size:30px;
  cursor:pointer;
}
