*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
}

body{
  margin:0;
  background:#f2f4f7;
}

.app{
  width:100%;
  max-width:420px;
  height:100dvh;
  margin:0 auto;
  background:#fff;
  display:flex;
  flex-direction:column;
}

.topbar{
  background:#1e9b43;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logout-icon{
  height:26px;
  cursor:pointer;
}

.top-logo{
  height:40px;
}

.gallery{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:20px;
}

.col{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.card{
  width:150px;
  height:150px;
  perspective:1000px;
  cursor:pointer;
}

.card-inner{
  width:100%;
  height:100%;
  position:relative;
  transition:transform 0.6s;
  transform-style:preserve-3d;
}

.card.flipped .card-inner{
  transform:rotateY(180deg);
}

.card-front,.card-back{
  width:100%;
  height:100%;
  position:absolute;
  backface-visibility:hidden;
  border-radius:20px;
  overflow:hidden;
}

.card-front img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  padding: 20px;
  visibility: hidden;
}

/* FULLSCREEN */
.fullscreen{
  position:fixed;
  inset:0;
  background:#000;
  display:none;
  justify-content:center;
  align-items:center;
  perspective:1200px;
}

.fullscreen.active{
  display:flex;
}

.fs-inner{
  width:100%;
  height:80%;
  background:#fff;
  position:relative;
  padding:60px 20px 20px;
  overflow-y:auto;
  transform:rotateY(180deg);
  animation:flipIn 0.6s forwards;
}

@keyframes flipIn{
  from{transform:rotateY(180deg);}
  to{transform:rotateY(0deg);}
}

.back-btn {
  position: fixed;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.back-btn img {
  width: 32px;
  height: 32px;
}


.bottombar{
  position:fixed;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  max-width:420px;
  height:60px;
  background:#f44336;
  display:flex;
}

.bottombar div{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

.bottombar img{
  height:26px;
}

.center-btn img{
  height:60px;
  margin-top:-30px;
  background:#fff;
  border-radius:50%;
  padding:8px;
}
