* { box-sizing:border-box; font-family:Arial }

body {
  margin:0;
  background:#f2f4f7;
}

.app {
  max-width:420px;
  margin:auto;
  min-height:100vh;
  background:#fff;
  display:flex;
  flex-direction:column;
}

.topbar {
  background:#1e9b43;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.top-logo {
  height:40px;
}

.logout-icon {
  height:26px;
  cursor:pointer;
}

.tab-content {
  flex:1;
  padding:20px;
  display:none;
}

.tab-content.active {
  display:block;
}

.grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  margin-top:20px;
}

.card {
  background:linear-gradient(#eaffda,#9ccc7c);
  border-radius:20px;
  height:120px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
}

.bottombar {
  display:flex;
  background:#f44336;
  color:white;
}

.bottombar div {
  flex:1;
  padding:8px;
  text-align:center;
  cursor:pointer;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:4px;
}

.bottombar img {
  height:24px;
}

table {
  width:100%;
  border-collapse:collapse;
}

th,td {
  padding:8px;
  border-bottom:1px solid #ddd;
  text-align:center;
}

select {
  width:100%;
  padding:10px;
  margin-bottom:10px;
}
