* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f4f7;
}

body.locked {
  visibility: hidden;
}

.hidden {
  display: none;
}

.app {
  width: 100%;
  max-width: 980px;
  height: 100dvh;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: #1e9b43;
  color: #fff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-logo {
  height: 40px;
}

.logout-icon {
  height: 26px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

.search-box {
  display: flex;
  padding: 12px;
  gap: 10px;
  width: 100%;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Loader */
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #1e7802;
  border-radius: 50%;
  margin: 15px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}

/* --- BOTTOM BAR --- */
.bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #f44336;
  display: flex;
  z-index: 1000;
}

.bottombar div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottombar img {
  height: 26px;
}

.center-btn img {
  height: 60px;
  margin-top: -30px;
  background: white;
  border-radius: 50%;
  padding: 8px;
}

.score-card {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card {
  flex: 1;
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#ageChart {
  margin-top: 20px;
  width: 100%;
  max-height: 250px; /* limit height */
}
