* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f4f7;
}

body.locked {
  visibility: hidden;
}

.hidden {
  display: none;
}

.app {
  width: 100%;
  max-width: 980px;
  height: 100dvh;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: #1e9b43;
  color: #fff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-logo {
  height: 40px;
}

.logout-icon {
  height: 26px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

.search-box {
  display: flex;
  padding: 10px;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px;
  background: #f8f9fa;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

select,
button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-wrap {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

button {
  cursor: pointer;
  background: linear-gradient(180deg, #2fae0a 0%, #1e7802 100%);
  color: #fff;
  border: none;
}

button:hover {
  opacity: 0.85;
}

/* Loader */
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #1e7802;
  border-radius: 50%;
  margin: 15px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}

/* ---- Table Design ----  */
.table-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20px;
  margin-bottom: 50px;
  width: 100%;
}

/* Table header */
#dataTable thead th {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #1e9b43;
  color: #ffffff;
  text-align: center;
}

/* ---- data table scrolling ----- */
#dataTable {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

/* smoother scroll */
.table-wrapper::-webkit-scrollbar {
  width: 6px;
}
.table-wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cell borders */
#dataTable th,
#dataTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

/* Mobile fit */
@media (max-width: 600px) {
  #dataTable th,
  #dataTable td {
    font-size: 11px;
  }
}

/* --- BOTTOM BAR --- */
.bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #f44336;
  display: flex;
  z-index: 1000;
}

.bottombar div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottombar img {
  height: 26px;
}

.center-btn img {
  height: 60px;
  margin-top: -30px;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.score-card {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card {
  flex: 1;
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#ageChart {
  margin-top: 20px;
  width: 100%;
  max-height: 240px; /* limit height */
}

/* Page Table */
.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 15px 0;
}
.pagination button {
  position: Sticky;
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  cursor: pointer;
}
.pagination button.active {
  background: #1e9b43;
  color: #fff;
  font-weight: bold;
}
.pagination span {
  padding: 6px 10px;
}
